.news {
  border-left: 20px solid lightgray;
  border-right: 20px solid lightgray;
}

.header-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: orange;
}

.stories {
  width: 100%;
  padding: 0 1rem;
  list-style: inside decimal;
  counter-reset: item;
}

.button {
  border: 0;
  background-color: transparent;
}
.button:hover {
  cursor: pointer;
}

.reload {
  font-size: 1.5rem;
  display: flex;
}

.more {
  margin: 1rem;
  width: fit-content;
}

@media (prefers-color-scheme: dark) {
  h3 {
    color: black;
  }

  .news {
    border-left: 20px solid #333;
    border-right: 20px solid #333;
  }

  .more {
    color: white;
  }
}
